.hidden {
    display:none;
}

header {
    border-bottom: 1px solid black;
    padding: 0px 30px;
}

main {
    padding: 30px;
}

#calendar a {
    color: black;
    text-decoration:none;
}

label {
    font-weight: bold;
}